.data1{
    text-align: center;
}

.register{
    display: flex;
    margin-left: 200px;



}

.form{
    height:40;
    width: 40;
    


}
.form2{
    margin-left: 200px;
    
    width: 200px;
   
}